@charset "utf-8";
:root {
    --h1-size: 60px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 30px;
    --h5-size: 20px;
    --h6-size: 10px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;

}
/* @media (min-width: 521px) and (max-width: 940px) {
    h1 {
        font-size: 50px;
    }
}
@media (min-width: 471px) and (max-width: 520px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 470px) {
    h1 {
        font-size: 30px;
    }
} */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
}
.logo {
    padding: 0 24px;
    display: flex;
    align-items: center;
}
.logo img {
    width: fit-content;
    max-width: 56px;
}
.top_tab {
    display: flex;
    /* justify-content: flex-end; */
}
.top_tab ul {
    margin: 0;
    padding: 0;
    float: left;
    /* display: flex; */
    font-size: 12px;
    font-weight: bold;
}
.top_tab .top_bar {
    width: 250px;
}
.top_tab .top_bar > li {
    padding: 6.55%;
}
.top_tab .member {
    width: 150px;
}
.top_tab .member > li {
    margin: 5%;
    padding: 6%;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
    height: 18px;
}
.top_tab ul li {
    float: left;
    white-space: nowrap;
}
.top_tab .top_bar > li:hover {
    color: #ffe529;
}
.intro {
    height: 670px;
    margin-left: 10%;
    background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/main-bg.0c2e95bfd550759a46367d3abb3d05df.png)
        no-repeat top right 20%/auto 85vh;
    
}

.intro h1 {
    font-size: var(--h1-size);
    margin-top: 100px;
    white-space: nowrap;
}
.intro h1 span{
    display: inline-block;
    animation: intro1 .5s ease 2.5s 1 alternate;
}
.intro h1 b.on{
    display: inline-block;
    transform: rotate(720deg);
    transform-origin: center 60%;
    transition: transform 1.5s linear .1s;
}
.intro h3 {
    font-size: var(--h3-size);
    font-weight: lighter;
}
.intro img {
    width: 200px;
    margin-top: 310px;
}
section {
    margin-top: 100px;
}
.content1_1,
.content2_1,
.content3_1,
.content4_1,
.content5_1,
.content6_1 {
    font-size: var(--h2-size);
    text-align: center;
}
.content1_2,
.content2_2,
.content3_2,
.content4_2,
.content5_2,
.content6_2 {
    font-size: var(--h5-size);
    text-align: center;
    color: #555;
    line-height: 40px;
}
section>button {
    position: relative;
    left: 50%; 
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 15px;
    transform: translateX(-50%);  
}
.content2 {
    position: relative;
}
.content2_1 {
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: var(--h3-size);
    
}
.content2_2 {
    position: absolute;
    top: 130px;
    left: 30px;
    font-size: var(--h5-size);
}
