@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Gowun+Dodum&family=Nanum+Gothic&family=Purple+Purse&family=Smythe&display=swap");
.about {
  position: relative;
  height: 100%;
  background-color: #d6d4c6;
  padding-bottom: 50vh;
  /* padding: 1vh; */
}
/* 스크롤 등장 클래스 .on */
.scroll.on {
  opacity: 1;
}

/* parallax (o) */
.parallax {
  height: 100%;
  width: 100vw;
}
.scroll {
  opacity: 0.5;
  padding-top: 10%;
  /* 글자 위에 올리기 */
  /* position: relative; */
}
.scroll:first-child {
  animation: top 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
}
.scroll img {
  width: 50vw;
  min-height: 70vw !important;
  object-fit: cover;
  
}
.about1 {
  /* 공통 */
  padding-top: 20%;
  padding-left: 40%;
  animation: top 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@keyframes top {
  0% {
    padding-top: 50%;
  }
}

.about2 {
  margin-top: 20%;
  padding-left: 20%;

}

.about3 {
  margin-top: 20%;
  padding-left: 45%;

}

.about4 {
  margin-top: 20%;
  padding-left: 10%;


}
.about5 {
  margin-top: 20%;
  padding-left: 25%;

}

.store {
  /* padding-top: 10%; */
  position: relative;
  left: 0;
  top: 7vh;
  width: 100vw;
  height: 100%;
  /* margin-bottom: 20vh; */
  font-size: 50vh;
}

.store1 {
  position: fixed;
  /* 0~30 */
  /* top: 0%; */
  /* top: -5vw; */

  /* 62~35 */
  bottom: 27%;
  /* bottom: 15vw; */
  left: 80%;
  display: inline;
  white-space: nowrap;
  color: #6f9065;
  text-shadow: 0px 0px 5px #fff;
  font-family: "Smythe";
  letter-spacing: 0.7vw;
  animation: left 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@keyframes left {
  0% {left: 100%;}
}
.store2 {
  position: fixed;
  left: 120%;
/* 40~100 */
  /* top: 30%; */
  /* 3~25 */
  bottom: 7%;
  /* bottom: 0vw; */
  white-space: nowrap;
  color: #6f9065;
  text-shadow: 0px 0px 5px #fff;
  font-family: "Smythe";
  letter-spacing: 0.7vw;
}

.introduce {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  font-size: 2.5vw;
  padding: 1.5vw 0;
  background: #6f9065;
  color: #fff;
  font-family: "Nanum Gothic";
  z-index: 1;

}
@media screen and (max-width: 1300px){
  .store {
    font-size: 40vw;
    }
}

@media screen and (max-width: 800px) {
    .introduce {
        width: 200%;
        font-size: 5vw;
      }
  .introduce_ani {
  animation: introduce1 12s linear infinite;
  }

  .store {
  font-size: 35vw;
  }
}
@media screen and (max-width: 300px) {
    .introduce {
        width: 200%;
        font-size: 5vw;
      }
  .store {
  font-size: 20vw;
  }
}

.introduce_ani {
  white-space: nowrap;
  display: flex;
  position: relative;
  left: 0%;
  margin: 0;
  padding: 0;
  animation: introduce1 8s linear infinite;
}
.introduce_ani li {
  white-space: nowrap;
  flex-shrink: 0;
  width: 120%;
  position: relative;
  list-style: none;
  padding-left: 10%;
  box-sizing: border-box;
}
/* .introduce_ani li:nth-child(2) {
    width: 30%;
    position: relative;
    white-space: nowrap;
    list-style: none;
    
} */
/* 흐르는 글자 키프레임 */
@keyframes introduce1 {
  to {
    left: -120%;
  }
}
/* @keyframes introduce2 {
  
    to {

        left: -80%;
    }

} */
