@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Gowun+Dodum&family=Nanum+Gothic&family=Purple+Purse&family=Smythe&display=swap");
/* 
.about::before {
    content: '';
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    animation: between 1s ease-out both;
}
@keyframes between {
    from {
        left: -50%;
    }
} */

.about {
  padding-bottom: 100vh;
}

.about img {
  width: 50%;
  opacity: 0.5;
}

/* 스크롤 등장 클래스 .on */
.scroll.on {
  /* transform: translateY(30%); */
  opacity: 1;
}
.about {
  position: relative;
  height: 100%;
  /* background-image: linear-gradient(
        to bottom,
        #d6d4c6,
        #d6d4c6
        
        ); */
  background-color: #d6d4c6;
}
.about1 {
  position: relative;
  /* z-index: 1; */
  padding-top: 10%;
  text-align: center;
}

.about2 {
  position: relative;
  /* z-index: 1; */
  margin-top: 20%;
  text-align: right;
}

.about3 {
  position: relative;

  /* z-index: 1; */
  margin-top: 20%;
  text-align: left;
}
.about4 {
  position: relative;

  /* z-index: 1; */
  margin-top: 20%;
  text-align: justify;
}
.about5 {
  position: relative;
  /* z-index: 1; */
  margin-top: 20%;
  text-align: center;
}
.content {
  /* padding-top: 10%; */
  position: fixed;
  left: 0;
  top: 30%;
  width: 100vw;
  height: 40vh;
  outline: 1px solid red;
  /* z-index: 2; */
}
.content1 {
  position: absolute;
  bottom: 50%;
  left: 80%;
  font-size: 20vh;
  white-space: nowrap;
  /* vertical-align: middle; */
  /* color:  #d6d4c6; */
  color: #6f9065;
  /* text-shadow: 0px 0px 5px #6f9065; */
  /* padding-left: 80vw; */
  font-family: "Smythe";
  letter-spacing: 0.7vw;
  /* z-index: -99; */
}
.content2 {
  position: absolute;
  left: 120%;
  bottom: 0%;
  font-size: 20vh;
  white-space: nowrap;
  /* vertical-align: middle; */
  color: #6f9065;
  /* padding-left: 100%; */
  font-family: "Smythe";
  letter-spacing: 0.7vw;
}
.introduce {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  font-size: 2.5vw;
  z-index: 1;
  padding: 1.5vw 0;
  background: #6f9065;
  color: #fff;
  font-family: "Nanum Gothic";
}

@media screen and (max-width: 800px) {
  .introduce {
    width: 300%;
    font-size: 7.5vw;
  }
}

.introduce_ani {
  white-space: nowrap;
  display: flex;
  position: relative;
  left: 0%;
  margin: 0;
  padding: 0;
  animation: introduce1 8s linear infinite;
}
.introduce_ani li {
  white-space: nowrap;
  flex-shrink: 0;
  width: 120%;
  position: relative;
  list-style: none;
  padding-left: 10%;
  box-sizing: border-box;
}
/* .introduce_ani li:nth-child(2) {
    width: 30%;
    position: relative;
    white-space: nowrap;
    list-style: none;
    
} */
/* 흐르는 글자 키프레임 */
@keyframes introduce1 {
  to {
    left: -120%;
  }
}
/* @keyframes introduce2 {
  
    to {

        left: -80%;
    }

} */
