.about {
}
.intro1 {
}
.intro1 img {
}
.introduce {
    width: 100%;
    font-size: 70px;
    overflow: hidden;
    /* position: absolute; */
    z-index: 9;
    background: #6f9065;
    color:  #d6d4c6;
}
.introduce_ani {
    width: 200%;
    white-space: nowrap;
    position: relative;
    display: flex;
}
.introduce_ani li:nth-child(1) {
    white-space: nowrap;
    width: 200%;
    position: relative;
    left: 80%;
    list-style: none;
    animation: introduce1 20s linear infinite;
    
}
.introduce_ani li:nth-child(2) {
    width: 200%;
    position: relative;
    white-space: nowrap;
    left: 80%;
    list-style: none;
    animation: introduce2 20s linear infinite;
    
}
/* 흐르는 글자 키프레임 */
@keyframes introduce1 {
    /* from {
        left: 100%;
    } */
    to{
        left: -80%;
    }
}
@keyframes introduce2 {
    /* 0% {
        left: -100%;
    } */
    to {

        left: -80%;
    }
    
    /* 100%{
        left: -100%;
    } */
}
.introduce_ani li:first-child {
    margin-right: 10%;
}
/* .intro2 {
    position: relative;
} */
.intro2 img {
    position: absolute;
    right: 0%;
    /* margin-top: 20%; */
}