
.contact {
    margin: 0 auto;
    margin: 10%;
}
.content {
    font-size: 3vw;
    text-align: center;
    white-space: nowrap;
}
.layout {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
section {
    margin: 1%;
}
address {
    white-space: nowrap;
}
.map iframe {
    width: 30vw;
    height: 30vh;
}
