@import url(./about.css);
@import url(./menu.css);

/* #6f9065 */
html,body {
    margin: 0 auto;
    background:  #d6d4c6;
}

.top-area{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background: #d6d4c68b;
    position: relative;
    z-index: 999;
}
/* 1-1.로고 */

.logo_img {
    width: 120px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
/* 햄버거버튼 */
.ham {
    /* 부모는? .top-area */
    width: 40px;
    height: 25px;
    cursor: pointer;
    /* 손가락모양 */
    z-index: 99999;/* .gbx보다위! */
    transition: .4s;
    /* outline: 2px solid red; */
}
.ham.on:hover{
    transform: rotate(360deg);
    transform-origin: 75% 50%;

}
.ham span {
    width: 100%;
    height: 5px;
    margin: 5px;
    display: block;
    background: #000;
    /* 트랜지션 */
    transition: all .4s ease-out;
}
/* 오버시 2번막대 이동! */
.ham:hover span:nth-child(2) {    
    background:none;
}
/* .ham에 class="on"을 주면 span막대 변경하기 */

/* 1번막대 : 중앙이동+시계방향45도회전 */
.ham.on span:nth-child(1) {
    transform: rotate(45deg) translate(6px);
}

/* 2번막대 : left위치 중앙이동+width는0 */
.ham.on span:nth-child(2) {
    display: none;
}

/* 3번막대 : 중앙이동+반시계방향45도회전 */
.ham.on span:nth-child(3) {
    transform: rotate(-45deg) translate(5px);
}
.ham.on {
    animation: right 1s ease-out ;

}
@keyframes right {
    to { right: 100%}
    
 }
.ham.on:hover {
    transform:  rotate(360deg);
}
.banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    aspect-ratio: 16/4;
    object-fit: cover;
}