.menubox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80vw;
    height: 80vh;
    text-align: center;
    z-index: 99999;
    background: #6f9065;
    display: none;
}
.menutxt {
    position: absolute;
    top: 90%;
    left: 12%;
    transform-origin: left top;
    transform: rotate(-90deg);
    font-size: 7vw;
}
.menuimg {
    float: right;
    width: 80%;
    height: 100%;
}
.menuimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.close{
    position: absolute;
    top: 3%;
    right: 0%;
    transform: translateX(-60%);
    border-radius: 50%;
    font-size: 50px;
    border: none;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    text-shadow: 
    0px 1px #fff,
    0px -1px #fff,
    1px 0px #fff,
    -1px 0px #fff;

}
