.popup {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 1%;
    background-color: #d6d4c6;
    z-index: 999;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-family: 'Nanum Gothic';

}
.title {
    display: inline;
}
.img {
    object-fit: cover;
    position: relative;
}
.img img{
    object-fit: cover;
    width:100%;
    max-height:80vh;
    object-position:center;

}
.content {
    position: absolute;
    font-size: 5vh;
    white-space: pre-wrap;
    margin: 0;
    z-index: 1;
    top: 50%;
    right: 50%;
}
.checkbox {
    float: right;
    display: inline-flex;
    align-items: center;
   
    
}
.checkbox > label, input {
    cursor: pointer;
    display: flex;
}

.pop-close {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 100%;

}
.pop-close span {
    width: 2.5vh;
    height: .1vw;
    margin: .5vw;
    display: block;
    background: #000;
    transform: rotate(45deg);
}
.pop-close span:first-child {
    transform: rotate(45deg) translate(.2vw) translateY(.2vw);
}
.pop-close span:nth-child(2) {
    transform: rotate(-45deg) translate(.2vw) translateY(-.2vw);
}