.popup {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 1%;
    background-color: #d6d4c6;
    z-index: 999;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-family: 'Nanum Gothic';

}
.title {
    display: inline;
}
.content {
    padding: 1%;

}
.checkbox {
    display: inline;
    float: right;
    
}
.checkbox > label, input {
    cursor: pointer;

}
.pop-close {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 100%;
}