@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root {
    --h1-size: 60px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 30px;
    --h5-size: 20px;
    --h6-size: 10px;
       /* 큐브 공통 크기 */
       --box-width: 200px;
       --box-height: 280px;
       /* z축 거리 */
       --z-size: 30vh;
}

html, body {
    width: 100vw !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;

}

/* @media (min-width: 521px) and (max-width: 940px) {
    h1 {
        font-size: 50px;
    }
}
@media (max-width: 470px) {
    h1 {
        font-size: 30px;
    }
} */
@media (min-width: 471px) and (max-width: 520px) {
    h1 {
        font-size: 40px;
    }
    .mtitle2 {
        position: absolute;
        top: 0px;
        left: 30px;
        font-size: var(--h3-size);
        
    }
    .stitle2 {
        position: absolute;
        top: 130px;
        left: 30px;
        font-size: var(--h5-size);
    }
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    z-index: 999;
    margin: 0 auto; */
}
.logo {
    padding: 0 24px;
    display: inline;
}
.logo img {
    /* width: fit-content; */
    max-width: 56px;
}
.top_tab {
    display: flex;
    background-color: #fff;
    z-index: 9;
    width: 70vw;
    align-items: center;
    
}
.top_tab ul {
    margin: 0;
    padding: 0;
    float: left;
    /* display: flex; */
    font-size: 12px;
    font-weight: bold;
}
.top_tab .top_bar {
    width: 40vw;
    display: flex;
    justify-content: end;

}
.top_tab .top_bar > li {
    padding: 6%;
}
.top_tab .member {
    width: 30vw;
}
.top_tab .member > li {
    margin: 1%;
    padding: 1%;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
    height: 18px;
}
.top_tab ul li {
    float: left;
    white-space: nowrap;
}
.top_tab .top_bar > li:hover {
    color: #ffe529;
}
/* banner */
.intro {
    height: 670px;
    margin-left: 10%;
    background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/main-bg.0c2e95bfd550759a46367d3abb3d05df.png)
        no-repeat top right 30%/50vw 70vh;
    
}

.intro h1 {
    font-size: var(--h1-size);
    margin-top: 100px;
    white-space: nowrap;
}
.intro h1 span{
    display: inline-block;
    animation: intro1 .5s ease 2.5s 1 alternate;
}
.intro h1 b.on{
    display: inline-block;
    transform: rotate(720deg);
    transform-origin: center 55%;
    transition: transform 1.5s cubic-bezier(1, 1, 1, 1);}
.intro h3 {
    font-size: var(--h3-size);
    font-weight: lighter;
}
.intro img {
    width: 200px;
    margin-top: 310px;
}
/* content */
section {
    margin-top: 100px;
}
.title {
    margin: 40px;
}
.mtitle1,
.mtitle2,
.mtitle3,
.mtitle4,
.mtitle5,
.mtitle6,
.mtitle7,
.mtitle8,
.mtitle9
 {
    margin: 40px;
    font-size: var(--h2-size);
    text-align: center;

}
.stitle1,
.stitle2,
.stitle3,
.stitle4,
.stitle5,
.stitle6,
.stitle7,
.stitle8
 {
    margin: 40px;
    font-size: var(--h5-size);
    text-align: center;
    color: #555;
    line-height: 40px;
}
.slide1 {
    height: 670px;
    overflow: hidden;
    position: relative;
}
.slide1_1, 
.slide1_2, 
.slide1_3,
.slide1_4, 
.slide1_5, 
.slide1_6 {
    
    animation: Scroll 1s infinite top;
    /* 원근설정 */
    perspective: 100vh;
    
    
} 
.slide1_1 img,
.slide1_2 img,
.slide1_3 img, 
.slide1_4 img,
.slide1_5 img,
.slide1_6 img {    
    /* position: absolute; */
    top: 0;
    transform: 
    rotateX(30deg);
    /* transform-origin: top; */
      
}
section>button {
    position: relative;
    left: 50%; 
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 15px;
    transform: translateX(-50%);  
}
.content2 {
    position: relative;
}
.mtitle2 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: var(--h2-size);
    z-index: 1;
}
.stitle2 {
    position: absolute;
    top: 210px;
    left: 70px;
    font-size: var(--h4-size);
    z-index: 1;
}
.content2 button {
    display: none;
}
.content2:hover button {
    position: absolute;
    bottom: 100px;
    background-color: #ffffff00;
    display: block;
    z-index: 1;
}
.index_img {
    position: relative;
    margin: 10%;
    margin-top: 0;
}
.content5 img {
    scale: 70%;
}
.index_img1 {
    position: relative;
    left: 40%;
    transform: translateX(-50%);  
}
.index_img2 {
    position: absolute;
    top: 10%;
    left: 10%;
}
.index_img3 {
    position: absolute;
    top: 10%;
    right: 10%;
}
.index_img4 {
    position: absolute;
    left: 10%;
    bottom: 20%;
    z-index: 9;
}
.index_img5 {
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 9;
}
.index_img6 {
    /* position: relative; */
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);  
}
.content6 {
    background-color: #ffe529;

}
.payment {
    display: flex;
    justify-content: center;
}
.payment_bx {
    margin-right: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 40px;

}
.payment_bx1 {
    font-size: var(--h5-size);
    font-weight: bold;
    margin: 10px auto;
}
.payment_bx2 {
    margin-top: 0px;
    display: block;
    font-size: var(--h4-size);
    font-weight: bold;
}

.payment_bx3 {
    margin: 0px 10px 0px 20px;
    float: left;
    font-size: var(--h5-size);
    font-weight: 100;
    text-decoration: line-through;
    
}
.payment_bx>img {
    width: 50px;
    margin-top: 0px;
    /* float: left; */
}
.payment_bx4 {
    font-size: var(--h6-size);
    color: #555;
    font-weight: bold;
}
.light {
    font-weight: lighter;
    font-size: var(--h5-size);
}
.small {
    font-size: var(--h6-size);

}
.payment_txt {
    margin-top: 50px;
    padding: 32px;
    width: 300px;
    height: 300px;
    font-weight: bold;
}
.payment_txt img {
    width: 72px;
    height: 72px;
    margin-right: 24px;
}
.payment_txt1 {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    display: flex;   
}
.payment_txt2 {
    display: flex;
    margin-top: 30px;
}
.content7>img {
    margin: 0 auto;
    display: block;
}
.qa {
    padding: 40px;
}
.qa>* {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 20px;
    font-size: var(--h5-size);
    font-weight: bold;
    
}
.qa>*:clicked.on {
    height: 50px;
}
.content9 {
    background-color: #ffe529;
    font-size: var(--h6-size);
}
footer {
    margin: 0 auto;
    padding: 16px;
    max-width: 1440px;
    padding: 16px;
    padding-left: 40px;

}
.feet {
    display: flex;
    margin-bottom: 10px;
}
.name {
    font-weight: bold;
}
.binfo {
    font-size: var(--h6-size);
    font-weight: bold;

}
.rfoot {
  
}
.rfoot>a {

    width: 24px;
    height: 24px;
}
.instagram>a {
    background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/sns-instagram.ba9357bd6c1bb50854389e9f15f76d76.png);
}
.youtube>a {
    background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/sns-youtube.b399a84a750e221ded9fef98ddeca396.png);
}
.kakao>a {
    background-image: url(https://d3udu241ivsax2.cloudfront.net/v3/images/common/sns-kakaotalk.fa50e1326498ebcac6ba4a1e68f66882.png);
}
.etc {
    margin-bottom: 10px;
    font-size: var(--h6-size);
}
.etc>ul {
    
}
.etc>ul>li {
    margin-right: 12px;
    display: inline;
}
footer>span {
    margin-bottom: 10px;
    font-size: var(--h6-size);
}