.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}
/* 최대사이즈 1024px 이하 시작 */
@media screen and (max-width:1024px) {
  .App-logo {
    width: 10px;
    height: 10px;
  }
} 
/* 최대사이즈 1024px 이하 끝 */

/* 최대사이즈 512px 이하 시작 */
@media screen and (max-width:512px) {
  .App-logo {
    width: 10px;
    height: 10px;
  }
}
/* 최대사이즈 512px 이하 끝 */
.App-header {
  background-color: #6f9065;
  min-height: 100vh;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
